.score_container {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border: 5px solid yellow;
}

.scoreboard {
  border: 5px solid green;
  background-color: darkgray;
}

.gameHeader {
  display: flex;
  align-items: center;
  width: auto;
}

.team {
  display: flex;
  flex-direction: column;
}

.score {
  font-size: 3rem;
  margin: 1rem;
}

.boxscore_grid {
  display: grid;
  gap: 1.5rem;
  padding: 2rem;
  background-color: red;
  grid-template-columns: 200px;
  grid-auto-flow: column;
}
.score_col {
  background-color: aliceblue;
}

.box_header {
  background-color: blueviolet;
}
